<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" package="pica.pica">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name=".util.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Picapica"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup">
        <activity android:name=".VisitReceiverProfile" android:screenOrientation="portrait" android:theme="@style/Theme.Picapica.NoActionBar" />
        <activity android:name=".MessageChatActivity" android:screenOrientation="portrait" android:theme="@style/Theme.Picapica.NoActionBar" />
        <activity
            android:name=".welcome_register.LoginActivity"
            android:theme="@style/Theme.Picapica.NoActionBar" />
        <activity
            android:name=".welcome_register.RegisterActivity"
            android:theme="@style/Theme.Picapica.NoActionBar" />
        <activity
            android:name=".welcome_register.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Picapica.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".test.TelfLoginActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Picapica.NoActionBar" />
        <service
            android:name=".notification.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".notification.MyFirebaseInstanceId"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/user" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/red_white" />
    </application>

</manifest>